<%-include('../header.ejs') %>
<div class="row">
    <div class="column-responsive column-100">
        <div class="aussonderung index content">
            <a class="button float-right" href="/auslieferung/search">Suche</a>
            <a class="button float-right" href="/auslieferung/add">Neue Auslieferung</a>
            <h3>Auslieferungen</h3>
            <a href="/auslieferung?page=1&like=2023RZ%">2023 | </a>
            <a href="/auslieferung?page=1&like=2022RZ%">2022 | </a>
            <a href="/auslieferung?page=1&like=2021RZ%">2021 | </a>
            <a href="/auslieferung?page=1&like=2020RZ%">2020 | </a>
            <a href="/auslieferung?page=1&like=2019RZ%">2019 | </a>
            <a href="/auslieferung?page=1&like=2018RZ%">2018 </a>
            <div class="table-responsive">
                <table>
                    <tr>
                        <th>Kaufschein-Nr</th>
                        <th>Lehrstuhl</th>
                        <th>Empfänger</th>
                        <th>Status</th>
                        <th>gedruckt</th>
                        <th class="actions">Action</th> 
                    </tr>
                    <% for (i in data.data) {
                       
                    %>
                    <tr>
                        <td><%=data.data[i]['KaufscheinNr']%></td>
                        <td><%=data.data[i]['bezeichnung']%></td>
                        <td><%=data.data[i]['Anrede']%>&nbsp;<%=data.data[i]['Titel1']%>&nbsp;<%=data.data[i]['Titel2']%>&nbsp;<%=data.data[i]['Name']%></td>
                        <% if (data.data[i]['Status'] == 0) { %>
                        <td><b style="color:red;">bestellt</b></td>
                        <% }
                           if (data.data[i]['Status'] == 1) {
                        %>
                        <td><b style="color: green;">ausgeliefert</b></td>
                        <% } 
                         if (data.data[i]['PDF'] == 0) {
                        %>
                            <td><b style="color: red;">!drucken!</b></td>
                        <% }
                            if (data.data[i]['PDF'] == 1) {
                        %>
                            <td><b style="color: green;">gedruckt</b></td>
                        <% } %>
                        <td>
                            <a href="/auslieferung/view?id=<%=data.data[i]['id']%>&page=<%=page%>&like=<%=likes%>">view</a>
                            <a href="/auslieferung/edit?id=<%=data.data[i]['id']%>&page=<%=page%>&like=<%=likes%>">edit</a>
                        </td>
                    </tr>
                    <% }; %> 
                </table>
            </div>
            <div class="paginatior">
                <ul class="pagination">
                   <a href="/auslieferung?page=1&like=<%=likes%>">erster&nbsp;| </a>
                   <a href="/auslieferung?page=<%=vPage%>&like=<%=likes%>">&nbsp;vorherige&nbsp;|</a>
                   <% for (p = 1; p <= pages; p++) { %>
                    <a href="/auslieferung?page=<%=p%>&like=<%=likes%>">&nbsp;<%=p%>&nbsp;|</a>
                   <% } %>
                   <a href="/auslieferung?page=<%=nPage%>&like=<%=likes%>">&nbsp;nächste&nbsp;|</a>
                   <a href="/auslieferung?page=<%=pages%>&like=<%=likes%>">&nbsp;letzter</a>  
                </ul>
                <p></p>
            </div>
        </div>
    </div>
</div>
<%-include('../footer.ejs') %> 